[Unit]
Description=Node Exporter service 
Documentation=https://prometheus.io/docs/guides/node-exporter/
Wants=network-online.target
After=network-online.target

[Service]
User=PLACEHOLDER_SERVICE
Group=PLACEHOLDER_SERVICE
Type=simple
Restart=always
ExecStart=/usr/local/bin/node_exporter \
  --web.listen-address=:PLACEHOLDER_PORT

[Install]
WantedBy=multi-user.target